<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex>
    <mat-card-title>Books</mat-card-title>
    <mat-card-actions align="end">
      <button mat-raised-button color="warn"  (click)="goTo('books')">Books</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex>
     <mat-card-title>Authors</mat-card-title>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="goTo('authors')"> Authors</button>
    </mat-card-actions>
  </mat-card>
</div>
